/* =================================================================================================
Table of Contents
----------------------------------------------------------------------------------------------------
	01 IcoMoon Font Face Definition
	02 IcoMoon Icon Styles
================================================================================================= */


/* IcoMoon Font Face Definition
================================================================================================= */
@font-face {
    font-family:"fusion-icon";
    src:url("assets/fonts/fusion-icon/fusion-icon.eot?448f45aaad32390dcc4d2a45141cde81");
    src:url("assets/fonts/fusion-icon/fusion-icon.eot?#iefix") format("embedded-opentype"),
		url("assets/fonts/fusion-icon/fusion-icon.woff?448f45aaad32390dcc4d2a45141cde81") format("woff"),
		url("assets/fonts/fusion-icon/fusion-icon.ttf?448f45aaad32390dcc4d2a45141cde81") format("truetype"),
		url("assets/fonts/fusion-icon/fusion-icon.svg?448f45aaad32390dcc4d2a45141cde81#fusion-icon") format("svg");
    font-weight:normal;
    font-style:normal;
}


/* Class overrides
================================================================================================= */
[class^="fusion-icon-"]:before,
[class*=" fusion-icon-"]:before {
    font-family:"fusion-icon";
    display:inline-block;
    vertical-align:middle;
    line-height:1;
    font-weight:normal;
    font-style:normal;
    speak:none;
    text-decoration:inherit;
    text-transform:none;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

/* Mixins
================================================================================================= */
.fusion-icon-air, .fusion-icon-anchor, .fusion-icon-backarrow, .fusion-icon-blogger, .fusion-icon-book, .fusion-icon-browser, .fusion-icon-bubbles, .fusion-icon-camera, .fusion-icon-check-circle, .fusion-icon-check-empty, .fusion-icon-check-square, .fusion-icon-chevron-down, .fusion-icon-chevron-left, .fusion-icon-chevron-right, .fusion-icon-clock, .fusion-icon-code, .fusion-icon-columns, .fusion-icon-copy, .fusion-icon-css3, .fusion-icon-d, .fusion-icon-deviantart, .fusion-icon-digg, .fusion-icon-dollar, .fusion-icon-download, .fusion-icon-dribbble, .fusion-icon-drive, .fusion-icon-dropbox, .fusion-icon-droplet, .fusion-icon-ellipsis, .fusion-icon-envelope-o, .fusion-icon-equalizer, .fusion-icon-exclamation-sign, .fusion-icon-expand-alt, .fusion-icon-external-link-square, .fusion-icon-external-link, .fusion-icon-facebook, .fusion-icon-feather, .fusion-icon-file-add, .fusion-icon-file-alt, .fusion-icon-file, .fusion-icon-film, .fusion-icon-flag, .fusion-icon-flickr, .fusion-icon-folder, .fusion-icon-font, .fusion-icon-footer, .fusion-icon-forrst, .fusion-icon-forward, .fusion-icon-forwardarrow, .fusion-icon-gear, .fusion-icon-googleplus, .fusion-icon-h-o, .fusion-icon-h, .fusion-icon-hand-up, .fusion-icon-header, .fusion-icon-headphones, .fusion-icon-heart-o, .fusion-icon-image, .fusion-icon-images, .fusion-icon-insertpicture, .fusion-icon-l, .fusion-icon-layers-alt, .fusion-icon-left, .fusion-icon-link, .fusion-icon-linkedin, .fusion-icon-list-alt, .fusion-icon-list-ul, .fusion-icon-loop-alt2, .fusion-icon-loop, .fusion-icon-man, .fusion-icon-map, .fusion-icon-measure, .fusion-icon-minus, .fusion-icon-move-horizontal, .fusion-icon-myspace, .fusion-icon-navicon, .fusion-icon-newspaper, .fusion-icon-page_title, .fusion-icon-paypal, .fusion-icon-pen, .fusion-icon-pin-outline, .fusion-icon-pinterest, .fusion-icon-plus, .fusion-icon-plus2, .fusion-icon-pointer, .fusion-icon-polaroid, .fusion-icon-quotes, .fusion-icon-reddit, .fusion-icon-reply, .fusion-icon-resize, .fusion-icon-right, .fusion-icon-rss, .fusion-icon-search, .fusion-icon-share2, .fusion-icon-shopping-cart, .fusion-icon-sidebar, .fusion-icon-skype, .fusion-icon-soundcloud, .fusion-icon-spinner, .fusion-icon-stack, .fusion-icon-star-empty, .fusion-icon-star, .fusion-icon-table, .fusion-icon-tag, .fusion-icon-tasks, .fusion-icon-themefusion, .fusion-icon-tools, .fusion-icon-trash-o, .fusion-icon-tumblr, .fusion-icon-twitter, .fusion-icon-up, .fusion-icon-user, .fusion-icon-users, .fusion-icon-vimeo, .fusion-icon-vkontakte, .fusion-icon-woman, .fusion-icon-yahoo, .fusion-icon-youtube, .fusion-icon-addlink, .fusion-icon-aids, .fusion-icon-bars-alt, .fusion-icon-bars, .fusion-icon-biohazard, .fusion-icon-blood, .fusion-icon-box-envelope, .fusion-icon-box-facebook, .fusion-icon-box-linkedin, .fusion-icon-box-plus, .fusion-icon-box-twitter, .fusion-icon-comments, .fusion-icon-cyclic, .fusion-icon-drugs, .fusion-icon-edit, .fusion-icon-envelope, .fusion-icon-germs, .fusion-icon-hearth, .fusion-icon-helix, .fusion-icon-info, .fusion-icon-kidney, .fusion-icon-leaf, .fusion-icon-marker-map, .fusion-icon-marker, .fusion-icon-microscope, .fusion-icon-mortar, .fusion-icon-notes, .fusion-icon-people, .fusion-icon-phone, .fusion-icon-stomach, .fusion-icon-story, .fusion-icon-timer, .fusion-icon-video { 
    &:before {
        font-family:"fusion-icon";
        display:inline-block;
        font-weight:normal;
        font-style:normal;
        text-decoration:inherit;
    }
}

/* Icons
================================================================================================= */
.fusion-icon-air {
    &:before {
        content:"\f101";
    }
}

.fusion-icon-anchor {
    &:before {
        content:"\f102";
    }
}

.fusion-icon-backarrow {
    &:before {
        content:"\f103";
    }
}

.fusion-icon-blogger {
    &:before {
        content:"\f104";
    }
}

.fusion-icon-book {
    &:before {
        content:"\f105";
    }
}

.fusion-icon-browser {
    &:before {
        content:"\f106";
    }
}

.fusion-icon-bubbles {
    &:before {
        content:"\f107";
    }
}

.fusion-icon-camera {
    &:before {
        content:"\f108";
    }
}

.fusion-icon-check-circle {
    &:before {
        content:"\f109";
    }
}

.fusion-icon-check-empty {
    &:before {
        content:"\f10a";
    }
}

.fusion-icon-check-square {
    &:before {
        content:"\f10b";
    }
}

.fusion-icon-chevron-down {
    &:before {
        content:"\f10c";
    }
}

.fusion-icon-chevron-left {
    &:before {
        content:"\f10d";
    }
}

.fusion-icon-chevron-right {
    &:before {
        content:"\f10e";
    }
}

.fusion-icon-clock {
    &:before {
        content:"\f10f";
    }
}

.fusion-icon-code {
    &:before {
        content:"\f110";
    }
}

.fusion-icon-columns {
    &:before {
        content:"\f111";
    }
}

.fusion-icon-copy {
    &:before {
        content:"\f112";
    }
}

.fusion-icon-css3 {
    &:before {
        content:"\f113";
    }
}

.fusion-icon-d {
    &:before {
        content:"\f114";
    }
}

.fusion-icon-deviantart {
    &:before {
        content:"\f115";
    }
}

.fusion-icon-digg {
    &:before {
        content:"\f116";
    }
}

.fusion-icon-dollar {
    &:before {
        content:"\f117";
    }
}

.fusion-icon-download {
    &:before {
        content:"\f118";
    }
}

.fusion-icon-dribbble {
    &:before {
        content:"\f119";
    }
}

.fusion-icon-drive {
    &:before {
        content:"\f11a";
    }
}

.fusion-icon-dropbox {
    &:before {
        content:"\f11b";
    }
}

.fusion-icon-droplet {
    &:before {
        content:"\f11c";
    }
}

.fusion-icon-ellipsis {
    &:before {
        content:"\f11d";
    }
}

.fusion-icon-envelope-o {
    &:before {
        content:"\f11e";
    }
}

.fusion-icon-equalizer {
    &:before {
        content:"\f11f";
    }
}

.fusion-icon-exclamation-sign {
    &:before {
        content:"\f120";
    }
}

.fusion-icon-expand-alt {
    &:before {
        content:"\f121";
    }
}

.fusion-icon-external-link-square {
    &:before {
        content:"\f122";
    }
}

.fusion-icon-external-link {
    &:before {
        content:"\f123";
    }
}

.fusion-icon-facebook {
    &:before {
        content:"\f124";
    }
}

.fusion-icon-feather {
    &:before {
        content:"\f125";
    }
}

.fusion-icon-file-add {
    &:before {
        content:"\f126";
    }
}

.fusion-icon-file-alt {
    &:before {
        content:"\f127";
    }
}

.fusion-icon-file {
    &:before {
        content:"\f128";
    }
}

.fusion-icon-film {
    &:before {
        content:"\f129";
    }
}

.fusion-icon-flag {
    &:before {
        content:"\f12a";
    }
}

.fusion-icon-flickr {
    &:before {
        content:"\f12b";
    }
}

.fusion-icon-folder {
    &:before {
        content:"\f12c";
    }
}

.fusion-icon-font {
    &:before {
        content:"\f12d";
    }
}

.fusion-icon-footer {
    &:before {
        content:"\f12e";
    }
}

.fusion-icon-forrst {
    &:before {
        content:"\f12f";
    }
}

.fusion-icon-forward {
    &:before {
        content:"\f130";
    }
}

.fusion-icon-forwardarrow {
    &:before {
        content:"\f131";
    }
}

.fusion-icon-gear {
    &:before {
        content:"\f132";
    }
}

.fusion-icon-googleplus {
    &:before {
        content:"\f133";
    }
}

.fusion-icon-h-o {
    &:before {
        content:"\f134";
    }
}

.fusion-icon-h {
    &:before {
        content:"\f135";
    }
}

.fusion-icon-hand-up {
    &:before {
        content:"\f136";
    }
}

.fusion-icon-header {
    &:before {
        content:"\f137";
    }
}

.fusion-icon-headphones {
    &:before {
        content:"\f138";
    }
}

.fusion-icon-heart-o {
    &:before {
        content:"\f139";
    }
}

.fusion-icon-image {
    &:before {
        content:"\f13a";
    }
}

.fusion-icon-images {
    &:before {
        content:"\f13b";
    }
}

.fusion-icon-insertpicture {
    &:before {
        content:"\f13c";
    }
}

.fusion-icon-l {
    &:before {
        content:"\f13d";
    }
}

.fusion-icon-layers-alt {
    &:before {
        content:"\f13e";
    }
}

.fusion-icon-left {
    &:before {
        content:"\f13f";
    }
}

.fusion-icon-link {
    &:before {
        content:"\f140";
    }
}

.fusion-icon-linkedin {
    &:before {
        content:"\f141";
    }
}

.fusion-icon-list-alt {
    &:before {
        content:"\f142";
    }
}

.fusion-icon-list-ul {
    &:before {
        content:"\f143";
    }
}

.fusion-icon-loop-alt2 {
    &:before {
        content:"\f144";
    }
}

.fusion-icon-loop {
    &:before {
        content:"\f145";
    }
}

.fusion-icon-man {
    &:before {
        content:"\f146";
    }
}

.fusion-icon-map {
    &:before {
        content:"\f147";
    }
}

.fusion-icon-measure {
    &:before {
        content:"\f148";
    }
}

.fusion-icon-minus {
    &:before {
        content:"\f149";
    }
}

.fusion-icon-move-horizontal {
    &:before {
        content:"\f14a";
    }
}

.fusion-icon-myspace {
    &:before {
        content:"\f14b";
    }
}

.fusion-icon-navicon {
    &:before {
        content:"\f14c";
    }
}

.fusion-icon-newspaper {
    &:before {
        content:"\f14d";
    }
}

.fusion-icon-page_title {
    &:before {
        content:"\f14e";
    }
}

.fusion-icon-paypal {
    &:before {
        content:"\f14f";
    }
}

.fusion-icon-pen {
    &:before {
        content:"\f150";
    }
}

.fusion-icon-pin-outline {
    &:before {
        content:"\f151";
    }
}

.fusion-icon-pinterest {
    &:before {
        content:"\f152";
    }
}

.fusion-icon-plus {
    &:before {
        content:"\f153";
    }
}

.fusion-icon-plus2 {
    &:before {
        content:"\f154";
    }
}

.fusion-icon-pointer {
    &:before {
        content:"\f155";
    }
}

.fusion-icon-polaroid {
    &:before {
        content:"\f156";
    }
}

.fusion-icon-quotes {
    &:before {
        content:"\f157";
    }
}

.fusion-icon-reddit {
    &:before {
        content:"\f158";
    }
}

.fusion-icon-reply {
    &:before {
        content:"\f159";
    }
}

.fusion-icon-resize {
    &:before {
        content:"\f15a";
    }
}

.fusion-icon-right {
    &:before {
        content:"\f15b";
    }
}

.fusion-icon-rss {
    &:before {
        content:"\f15c";
    }
}

.fusion-icon-search {
    &:before {
        content:"\f15d";
    }
}

.fusion-icon-share2 {
    &:before {
        content:"\f15e";
    }
}

.fusion-icon-shopping-cart {
    &:before {
        content:"\f15f";
    }
}

.fusion-icon-sidebar {
    &:before {
        content:"\f160";
    }
}

.fusion-icon-skype {
    &:before {
        content:"\f161";
    }
}

.fusion-icon-soundcloud {
    &:before {
        content:"\f162";
    }
}

.fusion-icon-spinner {
    &:before {
        content:"\f163";
    }
}

.fusion-icon-stack {
    &:before {
        content:"\f164";
    }
}

.fusion-icon-star-empty {
    &:before {
        content:"\f165";
    }
}

.fusion-icon-star {
    &:before {
        content:"\f166";
    }
}

.fusion-icon-table {
    &:before {
        content:"\f167";
    }
}

.fusion-icon-tag {
    &:before {
        content:"\f168";
    }
}

.fusion-icon-tasks {
    &:before {
        content:"\f169";
    }
}

.fusion-icon-themefusion {
    &:before {
        content:"\f16a";
    }
}

.fusion-icon-tools {
    &:before {
        content:"\f16b";
    }
}

.fusion-icon-trash-o {
    &:before {
        content:"\f16c";
    }
}

.fusion-icon-tumblr {
    &:before {
        content:"\f16d";
    }
}

.fusion-icon-twitter {
    &:before {
        content:"\f16e";
    }
}

.fusion-icon-up {
    &:before {
        content:"\f16f";
    }
}

.fusion-icon-user {
    &:before {
        content:"\f170";
    }
}

.fusion-icon-users {
    &:before {
        content:"\f171";
    }
}

.fusion-icon-vimeo {
    &:before {
        content:"\f172";
    }
}

.fusion-icon-vkontakte {
    &:before {
        content:"\f173";
    }
}

.fusion-icon-woman {
    &:before {
        content:"\f174";
    }
}

.fusion-icon-yahoo {
    &:before {
        content:"\f175";
    }
}

.fusion-icon-youtube {
    &:before {
        content:"\f176";
    }
}

.fusion-icon-addlink {
    &:before {
        content:"\f177";
    }
}

.fusion-icon-aids {
    &:before {
        content:"\f178";
    }
}

.fusion-icon-bars-alt {
    &:before {
        content:"\f179";
    }
}

.fusion-icon-bars {
    &:before {
        content:"\f17a";
    }
}

.fusion-icon-biohazard {
    &:before {
        content:"\f17b";
    }
}

.fusion-icon-blood {
    &:before {
        content:"\f17c";
    }
}

.fusion-icon-box-envelope {
    &:before {
        content:"\f17d";
    }
}

.fusion-icon-box-facebook {
    &:before {
        content:"\f17e";
    }
}

.fusion-icon-box-linkedin {
    &:before {
        content:"\f17f";
    }
}

.fusion-icon-box-plus {
    &:before {
        content:"\f180";
    }
}

.fusion-icon-box-twitter {
    &:before {
        content:"\f181";
    }
}

.fusion-icon-comments {
    &:before {
        content:"\f182";
    }
}

.fusion-icon-cyclic {
    &:before {
        content:"\f183";
    }
}

.fusion-icon-drugs {
    &:before {
        content:"\f184";
    }
}

.fusion-icon-edit {
    &:before {
        content:"\f185";
    }
}

.fusion-icon-envelope {
    &:before {
        content:"\f186";
    }
}

.fusion-icon-germs {
    &:before {
        content:"\f187";
    }
}

.fusion-icon-hearth {
    &:before {
        content:"\f188";
    }
}

.fusion-icon-helix {
    &:before {
        content:"\f189";
    }
}

.fusion-icon-info {
    &:before {
        content:"\f18a";
    }
}

.fusion-icon-kidney {
    &:before {
        content:"\f18b";
    }
}

.fusion-icon-leaf {
    &:before {
        content:"\f18c";
    }
}

.fusion-icon-marker-map {
    &:before {
        content:"\f18d";
    }
}

.fusion-icon-marker {
    &:before {
        content:"\f18e";
    }
}

.fusion-icon-microscope {
    &:before {
        content:"\f18f";
    }
}

.fusion-icon-mortar {
    &:before {
        content:"\f190";
    }
}

.fusion-icon-notes {
    &:before {
        content:"\f191";
    }
}

.fusion-icon-people {
    &:before {
        content:"\f192";
    }
}

.fusion-icon-phone {
    &:before {
        content:"\f193";
    }
}

.fusion-icon-stomach {
    &:before {
        content:"\f194";
    }
}

.fusion-icon-story {
    &:before {
        content:"\f195";
    }
}

.fusion-icon-timer {
    &:before {
        content:"\f196";
    }
}

.fusion-icon-video {
    &:before {
        content:"\f197";
    }
}





/* Backwards class compatability
================================================================================================= */
// .fusion-icon-TFicon {
    // .fusion-icon-;
// }

// .fusion-icon-bars {
    // .fusion-icon-;
// }

// .fusion-icon-angle-left {
    // .fusion-icon-;
// }

// .fusion-icon-search {
    // .fusion-icon-;
// }

// .fusion-icon-vk {
    // .fusion-icon-;
// }

// .fusion-icon-check-square-o {
    // .fusion-icon-;
// }

// .fusion-icon-check-circle-o {
    // .fusion-icon-;
// }

// .fusion-icon-shopping-cart:before {
    // .fusion-icon-;
// }

// .fusion-icon-angle-right:before {
    // .fusion-icon-;
// }

// .fusion-icon-angle-up:before {
    // .fusion-icon-;
// }

// .fusion-icon-spinner:before {
    // .fusion-icon-;
// }

// .fusion-icon-star:before {
    // .fusion-icon-;
// }

// .fusion-icon-gear:before {
    // .fusion-icon-;
// }

// .fusion-icon-star-o:before {
    // .fusion-icon-;
// }

// .fusion-icon-caret-left:before {
    // .fusion-icon-;
// }

// .fusion-icon-caret-right:before {
    // .fusion-icon-;
// }

// .fusion-icon-grid:before {
    // .fusion-icon-;
// }

// .fusion-icon-pen:before {
    // .fusion-icon-;
// }

// .fusion-icon-film:before {
    // .fusion-icon-;
// }

// .fusion-icon-arrow-left:before {
    // .fusion-icon-;
// }

// .fusion-icon-plus:before {
    // .fusion-icon-;
// }

// .fusion-icon-minus:before {
    // .fusion-icon-;
// }

// .fusion-icon-arrow-down:before {
    // .fusion-icon-;
// }

// .fusion-icon-uniE620:before {
    // .fusion-icon-;
// }

// .fusion-icon-paypal:before {
    // .fusion-icon-;
// }

// .fusion-icon-tumblr:before {
    // .fusion-icon-;
// }

// .fusion-icon-googleplus:before {
    // .fusion-icon-;
// }

// .fusion-icon-arrow-down2:before {
    // .fusion-icon-;
// }

// .fusion-icon-instagram:before {
    // .fusion-icon-;
// }

// .fusion-icon-forrst:before {
    // .fusion-icon-;
// }

// .fusion-icon-facebook:before {
    // .fusion-icon-;
// }

// .fusion-icon-flickr:before {
    // .fusion-icon-;
// }

// .fusion-icon-feed:before,
// .fusion-icon-rss:before{
    // .fusion-icon-;
// }

// .fusion-icon-twitter:before {
    // .fusion-icon-;
// }

// .fusion-icon-vimeo:before {
    // .fusion-icon-;
// }

// .fusion-icon-dribbble:before {
    // .fusion-icon-;
// }

// .fusion-icon-skype:before {
    // .fusion-icon-;
// }

// .fusion-icon-youtube:before {
    // .fusion-icon-;
// }

// .fusion-icon-blogger:before {
    // .fusion-icon-;
// }

// .fusion-icon-link:before {
    // .fusion-icon-;
// }

// .fusion-icon-image:before {
    // .fusion-icon-;
// }

// .fusion-icon-images:before {
    // .fusion-icon-;
// }

// .fusion-icon-reddit:before {
    // .fusion-icon-;
// }

// .fusion-icon-soundcloud:before {
    // .fusion-icon-;
// }

// .fusion-icon-quotes-left:before {
    // .fusion-icon-;
// }

// .fusion-icon-bubbles:before {
    // .fusion-icon-;
// }

// .fusion-icon-headphones:before {
    // .fusion-icon-;
// }

// .fusion-icon-deviantart:before {
    // .fusion-icon-;
// }

// .fusion-icon-digg:before {
    // .fusion-icon-;
// }

// .fusion-icon-mail:before {
    // .fusion-icon-;
// }

// .fusion-icon-dropbox:before {
    // .fusion-icon-;
// }

// .fusion-icon-linkedin:before {
    // .fusion-icon-;
// }

// .fusion-icon-myspace:before {
    // .fusion-icon-;
// }

// .fusion-icon-pinterest:before {
    // .fusion-icon-;
// }

// .fusion-icon-yahoo:before {
    // .fusion-icon-;
// }

// .fusion-icon-list:before {
    // .fusion-icon-;
// }

// .fusion-icon-user2:before {
    // .fusion-icon-;
// }

// .fusion-icon-user:before {
    // .fusion-icon-;
// }

.fusion-icon-vk {
    &:extend(.fusion-icon-vkontakte all);
}

.fusion-icon-mail {
    &:extend(.fusion-icon-envelope all);
}
