/* Class overrides
================================================================================================= */
[class^="fusion-icon-"],
[class*=" fusion-icon-"] {
    &.small, &.small:before {
        font-size: @fusion-icon-small-size;
        line-height: @fusion-icon-small-size;
        vertical-align: top;
    }
    &.medium, &.medium:before {
        font-size: @fusion-icon-medium-size;
        line-height: @fusion-icon-medium-size;
        vertical-align: top;
    }
    &.large, &.large:before {
        font-size: @fusion-icon-large-size;
        line-height: @fusion-icon-large-size;
        vertical-align: top;
    }
    &.larger, &.larger:before {
        font-size: @fusion-icon-larger-size;
        line-height: @fusion-icon-larger-size;
        vertical-align: top;
    }
}