/* =================================================================================================
Table of Contents
----------------------------------------------------------------------------------------------------
	01 IcoMoon Font Face Definition
	02 IcoMoon Icon Styles
================================================================================================= */
/* IcoMoon Font Face Definition
================================================================================================= */
@font-face {
  font-family: "fusion-icon";
  src: url("../fonts/fusion-icon.eot?6e47a5ac4083039a7b0a05caa8a1649c");
  src: url("../fonts/fusion-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/fusion-icon.woff?6e47a5ac4083039a7b0a05caa8a1649c") format("woff"), url("../fonts/fusion-icon.ttf?6e47a5ac4083039a7b0a05caa8a1649c") format("truetype"), url("../fonts/fusion-icon.svg?6e47a5ac4083039a7b0a05caa8a1649c#fusion-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Class overrides
================================================================================================= */
[class^="fusion-icon-"]:before,
[class*=" fusion-icon-"]:before {
  font-family: "fusion-icon";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Mixins
================================================================================================= */
.fusion-icon-air:before,
.fusion-icon-anchor:before,
.fusion-icon-backarrow:before,
.fusion-icon-blogger:before,
.fusion-icon-book:before,
.fusion-icon-browser:before,
.fusion-icon-bubbles:before,
.fusion-icon-camera:before,
.fusion-icon-check-circle:before,
.fusion-icon-check-empty:before,
.fusion-icon-check-square:before,
.fusion-icon-chevron-down:before,
.fusion-icon-chevron-left:before,
.fusion-icon-chevron-right:before,
.fusion-icon-clock:before,
.fusion-icon-code:before,
.fusion-icon-columns:before,
.fusion-icon-copy:before,
.fusion-icon-css3:before,
.fusion-icon-d:before,
.fusion-icon-deviantart:before,
.fusion-icon-digg:before,
.fusion-icon-dollar:before,
.fusion-icon-download:before,
.fusion-icon-dribbble:before,
.fusion-icon-drive:before,
.fusion-icon-dropbox:before,
.fusion-icon-droplet:before,
.fusion-icon-ellipsis:before,
.fusion-icon-envelope-o:before,
.fusion-icon-equalizer:before,
.fusion-icon-exclamation-sign:before,
.fusion-icon-expand-alt:before,
.fusion-icon-external-link-square:before,
.fusion-icon-external-link:before,
.fusion-icon-facebook:before,
.fusion-icon-feather:before,
.fusion-icon-file-add:before,
.fusion-icon-file-alt:before,
.fusion-icon-file:before,
.fusion-icon-film:before,
.fusion-icon-flag:before,
.fusion-icon-flickr:before,
.fusion-icon-folder:before,
.fusion-icon-font:before,
.fusion-icon-footer:before,
.fusion-icon-forrst:before,
.fusion-icon-forward:before,
.fusion-icon-forwardarrow:before,
.fusion-icon-gear:before,
.fusion-icon-googleplus:before,
.fusion-icon-h-o:before,
.fusion-icon-h:before,
.fusion-icon-hand-up:before,
.fusion-icon-header:before,
.fusion-icon-headphones:before,
.fusion-icon-heart-o:before,
.fusion-icon-image:before,
.fusion-icon-images:before,
.fusion-icon-insertpicture:before,
.fusion-icon-l:before,
.fusion-icon-layers-alt:before,
.fusion-icon-left:before,
.fusion-icon-link:before,
.fusion-icon-linkedin:before,
.fusion-icon-list-alt:before,
.fusion-icon-list-ul:before,
.fusion-icon-loop-alt2:before,
.fusion-icon-loop:before,
.fusion-icon-man:before,
.fusion-icon-map:before,
.fusion-icon-measure:before,
.fusion-icon-minus:before,
.fusion-icon-move-horizontal:before,
.fusion-icon-myspace:before,
.fusion-icon-navicon:before,
.fusion-icon-newspaper:before,
.fusion-icon-page_title:before,
.fusion-icon-paypal:before,
.fusion-icon-pen:before,
.fusion-icon-pin-outline:before,
.fusion-icon-pinterest:before,
.fusion-icon-plus:before,
.fusion-icon-plus2:before,
.fusion-icon-pointer:before,
.fusion-icon-polaroid:before,
.fusion-icon-quotes:before,
.fusion-icon-reddit:before,
.fusion-icon-reply:before,
.fusion-icon-resize:before,
.fusion-icon-right:before,
.fusion-icon-rss:before,
.fusion-icon-search:before,
.fusion-icon-share2:before,
.fusion-icon-shopping-cart:before,
.fusion-icon-sidebar:before,
.fusion-icon-skype:before,
.fusion-icon-soundcloud:before,
.fusion-icon-spinner:before,
.fusion-icon-stack:before,
.fusion-icon-star-empty:before,
.fusion-icon-star:before,
.fusion-icon-table:before,
.fusion-icon-tag:before,
.fusion-icon-tasks:before,
.fusion-icon-themefusion:before,
.fusion-icon-tools:before,
.fusion-icon-trash-o:before,
.fusion-icon-tumblr:before,
.fusion-icon-twitter:before,
.fusion-icon-up:before,
.fusion-icon-user:before,
.fusion-icon-users:before,
.fusion-icon-vimeo:before,
.fusion-icon-vkontakte:before,
.fusion-icon-woman:before,
.fusion-icon-yahoo:before,
.fusion-icon-youtube:before,
.fusion-icon-addlink:before,
.fusion-icon-aids:before,
.fusion-icon-biohazard:before,
.fusion-icon-blood:before,
.fusion-icon-comments:before,
.fusion-icon-cyclic:before,
.fusion-icon-drugs:before,
.fusion-icon-germs:before,
.fusion-icon-hearth:before,
.fusion-icon-helix:before,
.fusion-icon-info:before,
.fusion-icon-kidney:before,
.fusion-icon-leaf:before,
.fusion-icon-marker-map:before,
.fusion-icon-microscope:before,
.fusion-icon-mortar:before,
.fusion-icon-stomach:before {
  font-family: "fusion-icon";
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}
/* Icons
================================================================================================= */
.fusion-icon-air:before {
  content: "\f101";
}
.fusion-icon-anchor:before {
  content: "\f102";
}
.fusion-icon-backarrow:before {
  content: "\f103";
}
.fusion-icon-blogger:before {
  content: "\f104";
}
.fusion-icon-book:before {
  content: "\f105";
}
.fusion-icon-browser:before {
  content: "\f106";
}
.fusion-icon-bubbles:before {
  content: "\f107";
}
.fusion-icon-camera:before {
  content: "\f108";
}
.fusion-icon-check-circle:before {
  content: "\f109";
}
.fusion-icon-check-empty:before {
  content: "\f10a";
}
.fusion-icon-check-square:before {
  content: "\f10b";
}
.fusion-icon-chevron-down:before {
  content: "\f10c";
}
.fusion-icon-chevron-left:before {
  content: "\f10d";
}
.fusion-icon-chevron-right:before {
  content: "\f10e";
}
.fusion-icon-clock:before {
  content: "\f10f";
}
.fusion-icon-code:before {
  content: "\f110";
}
.fusion-icon-columns:before {
  content: "\f111";
}
.fusion-icon-copy:before {
  content: "\f112";
}
.fusion-icon-css3:before {
  content: "\f113";
}
.fusion-icon-d:before {
  content: "\f114";
}
.fusion-icon-deviantart:before {
  content: "\f115";
}
.fusion-icon-digg:before {
  content: "\f116";
}
.fusion-icon-dollar:before {
  content: "\f117";
}
.fusion-icon-download:before {
  content: "\f118";
}
.fusion-icon-dribbble:before {
  content: "\f119";
}
.fusion-icon-drive:before {
  content: "\f11a";
}
.fusion-icon-dropbox:before {
  content: "\f11b";
}
.fusion-icon-droplet:before {
  content: "\f11c";
}
.fusion-icon-ellipsis:before {
  content: "\f11d";
}
.fusion-icon-envelope-o:before {
  content: "\f11e";
}
.fusion-icon-equalizer:before {
  content: "\f11f";
}
.fusion-icon-exclamation-sign:before {
  content: "\f120";
}
.fusion-icon-expand-alt:before {
  content: "\f121";
}
.fusion-icon-external-link-square:before {
  content: "\f122";
}
.fusion-icon-external-link:before {
  content: "\f123";
}
.fusion-icon-facebook:before {
  content: "\f124";
}
.fusion-icon-feather:before {
  content: "\f125";
}
.fusion-icon-file-add:before {
  content: "\f126";
}
.fusion-icon-file-alt:before {
  content: "\f127";
}
.fusion-icon-file:before {
  content: "\f128";
}
.fusion-icon-film:before {
  content: "\f129";
}
.fusion-icon-flag:before {
  content: "\f12a";
}
.fusion-icon-flickr:before {
  content: "\f12b";
}
.fusion-icon-folder:before {
  content: "\f12c";
}
.fusion-icon-font:before {
  content: "\f12d";
}
.fusion-icon-footer:before {
  content: "\f12e";
}
.fusion-icon-forrst:before {
  content: "\f12f";
}
.fusion-icon-forward:before {
  content: "\f130";
}
.fusion-icon-forwardarrow:before {
  content: "\f131";
}
.fusion-icon-gear:before {
  content: "\f132";
}
.fusion-icon-googleplus:before {
  content: "\f133";
}
.fusion-icon-h-o:before {
  content: "\f134";
}
.fusion-icon-h:before {
  content: "\f135";
}
.fusion-icon-hand-up:before {
  content: "\f136";
}
.fusion-icon-header:before {
  content: "\f137";
}
.fusion-icon-headphones:before {
  content: "\f138";
}
.fusion-icon-heart-o:before {
  content: "\f139";
}
.fusion-icon-image:before {
  content: "\f13a";
}
.fusion-icon-images:before {
  content: "\f13b";
}
.fusion-icon-insertpicture:before {
  content: "\f13c";
}
.fusion-icon-l:before {
  content: "\f13d";
}
.fusion-icon-layers-alt:before {
  content: "\f13e";
}
.fusion-icon-left:before {
  content: "\f13f";
}
.fusion-icon-link:before {
  content: "\f140";
}
.fusion-icon-linkedin:before {
  content: "\f141";
}
.fusion-icon-list-alt:before {
  content: "\f142";
}
.fusion-icon-list-ul:before {
  content: "\f143";
}
.fusion-icon-loop-alt2:before {
  content: "\f144";
}
.fusion-icon-loop:before {
  content: "\f145";
}
.fusion-icon-man:before {
  content: "\f146";
}
.fusion-icon-map:before {
  content: "\f147";
}
.fusion-icon-measure:before {
  content: "\f148";
}
.fusion-icon-minus:before {
  content: "\f149";
}
.fusion-icon-move-horizontal:before {
  content: "\f14a";
}
.fusion-icon-myspace:before {
  content: "\f14b";
}
.fusion-icon-navicon:before {
  content: "\f14c";
}
.fusion-icon-newspaper:before {
  content: "\f14d";
}
.fusion-icon-page_title:before {
  content: "\f14e";
}
.fusion-icon-paypal:before {
  content: "\f14f";
}
.fusion-icon-pen:before {
  content: "\f150";
}
.fusion-icon-pin-outline:before {
  content: "\f151";
}
.fusion-icon-pinterest:before {
  content: "\f152";
}
.fusion-icon-plus:before {
  content: "\f153";
}
.fusion-icon-plus2:before {
  content: "\f154";
}
.fusion-icon-pointer:before {
  content: "\f155";
}
.fusion-icon-polaroid:before {
  content: "\f156";
}
.fusion-icon-quotes:before {
  content: "\f157";
}
.fusion-icon-reddit:before {
  content: "\f158";
}
.fusion-icon-reply:before {
  content: "\f159";
}
.fusion-icon-resize:before {
  content: "\f15a";
}
.fusion-icon-right:before {
  content: "\f15b";
}
.fusion-icon-rss:before {
  content: "\f15c";
}
.fusion-icon-search:before {
  content: "\f15d";
}
.fusion-icon-share2:before {
  content: "\f15e";
}
.fusion-icon-shopping-cart:before {
  content: "\f15f";
}
.fusion-icon-sidebar:before {
  content: "\f160";
}
.fusion-icon-skype:before {
  content: "\f161";
}
.fusion-icon-soundcloud:before {
  content: "\f162";
}
.fusion-icon-spinner:before {
  content: "\f163";
}
.fusion-icon-stack:before {
  content: "\f164";
}
.fusion-icon-star-empty:before {
  content: "\f165";
}
.fusion-icon-star:before {
  content: "\f166";
}
.fusion-icon-table:before {
  content: "\f167";
}
.fusion-icon-tag:before {
  content: "\f168";
}
.fusion-icon-tasks:before {
  content: "\f169";
}
.fusion-icon-themefusion:before {
  content: "\f16a";
}
.fusion-icon-tools:before {
  content: "\f16b";
}
.fusion-icon-trash-o:before {
  content: "\f16c";
}
.fusion-icon-tumblr:before {
  content: "\f16d";
}
.fusion-icon-twitter:before {
  content: "\f16e";
}
.fusion-icon-up:before {
  content: "\f16f";
}
.fusion-icon-user:before {
  content: "\f170";
}
.fusion-icon-users:before {
  content: "\f171";
}
.fusion-icon-vimeo:before {
  content: "\f172";
}
.fusion-icon-vkontakte:before {
  content: "\f173";
}
.fusion-icon-woman:before {
  content: "\f174";
}
.fusion-icon-yahoo:before {
  content: "\f175";
}
.fusion-icon-youtube:before {
  content: "\f176";
}
.fusion-icon-addlink:before {
  content: "\f177";
}
.fusion-icon-aids:before {
  content: "\f178";
}
.fusion-icon-biohazard:before {
  content: "\f179";
}
.fusion-icon-blood:before {
  content: "\f17a";
}
.fusion-icon-comments:before {
  content: "\f17b";
}
.fusion-icon-cyclic:before {
  content: "\f17c";
}
.fusion-icon-drugs:before {
  content: "\f17d";
}
.fusion-icon-germs:before {
  content: "\f17e";
}
.fusion-icon-hearth:before {
  content: "\f17f";
}
.fusion-icon-helix:before {
  content: "\f180";
}
.fusion-icon-info:before {
  content: "\f181";
}
.fusion-icon-kidney:before {
  content: "\f182";
}
.fusion-icon-leaf:before {
  content: "\f183";
}
.fusion-icon-marker-map:before {
  content: "\f184";
}
.fusion-icon-microscope:before {
  content: "\f185";
}
.fusion-icon-mortar:before {
  content: "\f186";
}
.fusion-icon-stomach:before {
  content: "\f187";
}
/* Backwards class compatability
================================================================================================= */
