/* - icon picker */
#fusion-sc-form-table .iconpicker {
	background: #fff;
	height: 250px;
	overflow-y: scroll;
	border: 1px solid #AAA;
	cursor: pointer;
}
#fusion-sc-form-table tbody tr.form-row [class^="fusion-icon-"],
#fusion-sc-form-table tbody tr.form-row [class*=" fusion-icon-"] {
	background: #fff;
	font-family: fusion-icon;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	width: 32px;
	height: 32px;
	display: inline-block;
	color: #494949;
	border: 1px solid #e1e1e1;
	margin-left: -1px;
	margin-top: -1px;
	transition: 		all 0.1s ease-out;
	-moz-transition: 	all 0.1s ease-out; /* Firefox 4 */
	-webkit-transition: all 0.1s ease-out; /* Safari and Chrome */
	-o-transition: 		all 0.1s ease-out; /* Opera */
}

#fusion-sc-form-table tbody tr.form-row [class^="fusion-icon-"]:hover,
#fusion-sc-form-table tbody tr.form-row [class*=" fusion-icon-"]:hover {
	background-color: #eeeded;
	-webkit-transform:scale(1.3);
	-o-transform:scale(1.3);
	-moz-transform:scale(1.3);
	transform:scale(1.3);
}

#fusion-sc-form-table tbody tr.form-row [class^="fusion-icon-"].active,
#fusion-sc-form-table tbody tr.form-row [class*=" fusion-icon-"].active {
	background-color: #eeeded;
}