/* =================================================================================================
Table of Contents
----------------------------------------------------------------------------------------------------
	01 General Footer Styles
	
================================================================================================= */


/* General Footer Styles
================================================================================================= */

.fusion-footer-parallax {
    z-index: -1;
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.fusion-footer-widget-area,
.fusion-before-footer {
	overflow: hidden;
	position: relative;
	padding: 43px 10px 40px;
	border-top: 1px solid #e9eaee;
	background: #363839;
	color: #8c8989;

	h3 {
		margin: 0 0 11px;
		color: @secondary-color;
		text-transform: uppercase;
		font: 13px/20px 'PTSansBold', arial, helvetica, sans-serif;
	}
	
	a {
		color: #bfbfbf;
	}	
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 12px;
		line-height: 15px;
		
		li {
			a {
				display: block;
				padding: 0;
				border-bottom: 0;
				
				&:hover {
					color: #a0ce4e;
				}				
			}
			
			&:first-child {
				a {
					padding-top: 0px;
				}
			}
		}
	}	

	.text-block {
	}
	
	.holder-block img {
		width: 100%;
	}
}

.fusion-before-footer {
	padding: 15px 55px 30px;
	h3 {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		text-transform: uppercase;
		display: block;
		padding: 0 0 11px;
		margin-bottom: 0;
	}
}

.social-list {
	list-style: none;
	li {
		display: inline-block;
		font-size: 35px;
		padding-right: 5px;
	}
}

.sunridge-contact {
	display: block;
	position: relative;
	.icon-contact {
		font-size: 35px;
		position: absolute;
	}
	.content-contact {
		padding-left: 45px;
		display: block;
	}
}

.fusion-footer-widget-column {
	margin-bottom: 20px;
	
	&:last-child {
		margin-bottom: 0;
	}

	> h3:before {
		padding: 0 3px;
		position: absolute;
		font-size: 23px;
		left: 0;
	}

	&.widget-with-icon {
		padding-left: 15px;
	}

	&.icon-mapgreen > h3{
		&:extend(.fusion-icon-marker-map all);
	}

	&.icon-addlink > h3{
		&:extend(.fusion-icon-addlink all);
	}

	&.icon-info > h3{
		&:extend(.fusion-icon-info all);
	}

	&.icon-link > h3{
		&:extend(.fusion-icon-link all);
	}

}

.fusion-footer-copyright-area {
	z-index: 1;	
	position: relative;
	padding: 18px 10px 12px;
	border-top: 1px solid #4b4c4d;
	background: #282a2b;
}

.fusion-copyright-content {
	display: table;
	width: 100%;
}

.fusion-copyright-notice {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	color: #8c8989;
	font-size: 12px;
	
	a {
		color: #bfbfbf;
	}
}