.gform_wrapper {
	ul.gform_fields {
		padding: 0;
		list-style-type: none;
	}
	
	li, 
	form li {
    	list-style: outside none none;
    	margin-left: 0;
    }


	margin-bottom: 50px;
	.ginput_complex .ginput_left, .ginput_complex .ginput_right, .gfield input[type=text], .gfield textarea {
		//		float: none !important;
		//		width: 100% !important;
		//		box-sizing: border-box;
	}
	.gfield input[type=text],
	.gfield input[type=email],
	.gfield input[type=tel],
	.gfield input[type=url],
	.gfield input[type=number],
	.gfield input[type=password]
	input[type="number"],
	input[type="password"],
	.gfield textarea {
		border:1px solid #d3d3d3;
		font-size: 14px;
		line-height:17px;
/* 		background:#fbfbfb; */
		color:#a1a1a1;
		padding:9px 17px 12px;
		margin:0 0 6px;
		font-family: Arial, Helvetica, sans-serif;
		.border-radius(3px);
		box-shadow:none;
		&:focus {
			outline: none;
			outline-offset: -2px;
			&::-webkit-input-placeholder { color: transparent; }
			&:-moz-placeholder { color: transparent; }
			&::-webkit-input-placeholder { color: transparent; }
			&:-moz-placeholder { color: transparent; }
		}
	}
	.gfield textarea {
		padding: 8px;
	}
	.top_label {
		input.large, select.large, textarea.textarea {
			width: 100%;
		}
	}
	.right_label, .left_label {
		input.medium, select.medium {
			width: 35% !important;
		}
	}
	.left_label .gfield_label {
		font-weight: normal;
	}
	.gform_page_footer input[type=button], .gform_button {
		.button-dimensions(32px, 20px, 9px, 14px, 12px, 2px);
		box-sizing: border-box;
	}
	.gfield_select[multiple=multiple] {
		border: 1px solid #d2d2d2;
	}
	.gravity-select-parent select,
	.gravity-select-parent .ginput_complex select,
	.ginput_complex .ginput_right .gravity-select-parent select {
		//padding: 6px 1px !important;
		width: 100%;
		text-indent: 2px;
	}
	label {
		font-weight: normal;
	}
	.gfield_time_hour label {
		display: inline;
	}
	.gform_footer {
		padding: 0;
	}
	span.ginput_total {
		font-size: 18px;
	}
	.gravity-select-parent {
		position: relative;
		overflow: hidden;
		.select-arrow {
			height: 34px;
			//			width: 30px;
			//			height: 30px;
			//			line-height: 30px;
		}
	}
	.ginput_complex .gravity-select-parent {
		width: 95% !important;
	}

	.gravity-select-parent select {
		-webkit-appearance: none;
		text-overflow: '';
		background: #fbfaf9;
		border: 1px solid #dadada;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		color: #333333;
		cursor: pointer;
		display: block;
		font-size: 13px;
		outline: none;
		height: auto;
		padding: 8px 15px;
		position: relative;
		text-indent: 0.01px;
		vertical-align: middle;
		z-index: 5;
		margin: 0;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		min-width: 70px;
	}
	.gfield_list_icons img {
		margin-top: 4px !important;
	}
	.top_label .gfield_label {
		margin-bottom: 0 !important;
	}
	ul li.gfield {
		margin-bottom: 6px;

	}
	.gfield_time_minute label, .gfield_time_hour label {
		margin-bottom: 0 !important;
	}
	.gfield_time_hour i {
		margin-top: 3% !important;
	}
	.left_label .gfield_label {

	}
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio], .gform_wrapper.gf_browser_chrome .gfield_checkbox li input {
	margin-top: .1em !important;
}

.gfield_time_ampm {
	.gravity-select-parent select {
		height: 33px !important;
		padding-left: 6px !important;
		min-width: 61px !important;
		//		padding-left: 6px !important;
		//		height: 33px !important;
		//		padding-top: 7px !important;
	}
	.select-arrow {
		width: 31px !important;
		height: 31px !important;
	}
}

#wrapper .entry-summary .gform_wrapper ul li {
	clear: none !important;
}

#wrapper .gform_wrapper .gravity-select-parent select {
	margin: 0;
}

.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio] {
	margin-left: 3px !important;
}


.sunridge-form_wrapper {
	box-sizing: border-box;

	form.sunridge-form {
		.border-radius(2px);
		background: @primary-color;
		padding: 11px 28px 23px;
		color: #fff;
		font-size: 12px;

		.gform_title {
			margin: 0 0 14px;
			color: #fff;
			font-size: 35px;
			line-height: 38px;
			font-weight: 700;
		}

		.gfield_label {
			display: none;
		}

		.gform_footer {
			input[type="submit"] {
				width: 100%;
			}
		}

		.gfield {
			input,
			textarea {
				.border-radius(2px);
			}

			textarea {
				max-height: 100px;
			}

			&.name,
			&.email,
			&.state,
			&.phone,
			&.comment {
				.ginput_container:before {
					position: absolute;
					top: 8px;
					left: 10px;
					font-family:"fusion-icon";
					display:inline-block;
					vertical-align:middle;
					line-height:1;
					font-weight:normal;
					font-style:normal;
					font-size: 20px;
					speak:none;
					text-decoration:inherit;
					text-transform:none;
					text-rendering:optimizeLegibility;
					-webkit-font-smoothing:antialiased;
					-moz-osx-font-smoothing:grayscale;
					color: #e4e4e4;
				}
				input,
				textarea {
					padding: 9px 23px 8px 37px;
				}
			}

			&.name .ginput_container {
				&:extend(.fusion-icon-people all);
			}

			&.email .ginput_container {
				&:extend(.fusion-icon-envelope all);
			}

			&.state .ginput_container {
				&:extend(.fusion-icon-marker all);
			}

			&.phone .ginput_container {
				&:extend(.fusion-icon-phone all);
			}

			&.comment .ginput_container {
				&:extend(.fusion-icon-edit all);
			}

		}
		.gfield_contains_required {
			.ginput_container{
				position: relative;
				&:after {
					font-size: 20px;
					color: darken(@primary-color, 10%);
					content: "*";
					position: absolute;
					right: -16px;
					top: 10px;
				}
			}
		}

		.agree {
			.gfield_checkbox {
				padding-left: 0;
			}
		}
	}
}

.gfield.gsection.splitter {
	display: none;
}

.gform_two_column_wrapper {
	display: block;
	float: left;
	margin-bottom: 10px;
	padding: 38px 0 0 0;
}

.gform_two_column {
	.gform_heading {
		display: block;
		float: left;
		clear: both;
		width: 100%;
	}
	.gform_title,
	.gform_description {
		box-sizing: border-box;
 		float: left;
	}
	
	.gform_title {
		width: 50%;
	}

	.gform_description {
		width: 50%;
	}

 	ul.gform_fields {
 		box-sizing: border-box;
 		width: 50%;
 		float: left;
 		> li {
 			padding-right: 10px;
 			&:last-child {
 				padding-right: 0;
 			}
 		}
 		@media screen and (max-width: @screen-xs){
 			width: 100%;
 			margin-top: 3px;
 			margin-bottom: 3px;
 			> li {
 				padding-right: 0;
 			}
 		}
 	}
 	.gfield_label {
 		display: none;
 	}

 	.gform_footer {
		width: 50%;
		display: block;
		position: relative;
		float: left;
		.gform_button {
			box-sizing: border-box;
			width: 100%;
			font-size: 15px;
			height: auto;
			padding: 13px 15px;
		}
		@media screen and (max-width: @screen-xs){
			width: 100%;
			margin-top: 10px;
		}
 	}

 	.gfield textarea {
		margin-bottom: 0;
		height: 140px;
	}

 	.gfield.last_field {
 		margin-bottom: 0;
 	}

	@media screen and (max-width: @screen-xs){
		.gform_heading { text-align: center; }
		.gform_title {margin-bottom: 5px;}
		.gform_title, .gform_description {
			width: 100%;
		}
	}
}

.gform_sunridge {
	.gform_heading {
		position: relative;
	}
	.gform_title {
		text-align: center;
		font-size: 30px;
		margin-top: 15px;
		margin-bottom: 10px;
		padding-left: 0;
		padding-right: 10px;
		color: #17a1c7;
/* 		&:after {
			position: absolute;
			background: url('assets/images/sprite.png') no-repeat -386px -5px;
			width: 15px;
			height: 14px;
			top: 5px;
			left: -11px;
			content: "";
		} */
	}
}
