.form-news{
	margin:0;
	padding:0;
	width:100%;
	position:relative;

	.title {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		text-transform: uppercase;
		display: block;
		padding: 0 0 11px;
		margin-bottom: 0;
	}

	legend{
		display:none;
	}
	.box-form {
		padding:0 106px 0 47px;
		position:relative;
		background:#fff;
		border:1px solid #148cad;
		border-radius:3px;
	}
	.input-text-icon {
		position:absolute;
		color:#7e7f7f;
		font-size:30px;
		left:10px;
		top:50%;
		margin-top: -15px;
		&:before {
			vertical-align: top;
		}
	}
	.input-text {
		border-style:none;
		border-radius:0;
		-webkit-appearance:none;
		background:none;
		margin:0;
		padding:0;
		font:300 19px/22px Roboto, Arial, Helvetica, sans-serif;
		color:#787878;
		width:100%;
		height:45px;
		&:focus {
			outline: none;
			outline-offset: -2px;
			&::-webkit-input-placeholder { color: transparent; }
			&:-moz-placeholder { color: transparent; }
			&::-webkit-input-placeholder { color: transparent; }
			&:-moz-placeholder { color: transparent; }
		}
	}
	input[type=submit]{
		background:#93c717;
		border-radius:3px;
		border-style:none;
		margin:0;
		padding:2px 0 4px;
		width:94px;
		height:39px;
		font:700 14px/39px Roboto, Arial, Helvetica, sans-serif;
		color:#fff;
		cursor:pointer;
		position:absolute;
		right:3px;
		top:3px;
		text-transform:uppercase;
	}
	input[type=submit]::-moz-focus-inner { 
		border: 0;
		padding:0;
	}

	.input-placeholder-text{
		font-weight:300;
		font-size:20px;
		line-height:22px;
		position: absolute;
		top: 50%;
		margin-top: -11px;
	}

}