/* =================================================================================================
Table of Contents
----------------------------------------------------------------------------------------------------
	01 Page Title Bar
	
================================================================================================= */


/* Page Title Bar
================================================================================================= */

.fusion-page-title-bar {
	clear: both;
	padding: 0 10px;
	height: 87px;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #f6f6f6;
	border-top: 1px solid #d2d3d4;
	border-bottom: 1px solid #d2d3d4;
	
	h1,
	h3 {
		margin: 0;
		padding: 0;
		line-height: 26px;
		font-weight: normal;
		font: 14px 'MuseoSlab500Regular', arial, helvetica, sans-serif;
	}

	h3 {
		color: #999a9a !important;
	}
	
	h1 {
		font-size: 18px;
	}

	@media only screen and (max-width: 800px) {
		h3 {
			display: none;
		}
	}

}

.fusion-page-title-row {
	overflow: hidden;
	margin: 0 auto;
	height: 100%;
	max-width: 940px;
}

.fusion-page-title-wrapper {
	display: table;
	z-index: 1;
	position: relative;
	height: 100%;
	width: 100%;

}
.fusion-page-title-captions {
	display: table-cell;
	vertical-align: middle;
	width: 45%;
	.page-title-bar-search & {
		width: auto;
	}
}

.fusion-page-title-secondary {
	display: table-cell;
	vertical-align: middle;
	width: 45%;
	text-align: right;
	
	.searchform {
		display: inline-block;
		width: 100%;
		max-width: 250px;
	}
}

.fusion-breadcrumbs {
	list-style: none;
	margin: 0;
	padding: 0;
	
	span {
		display: inline-block;
	}

}

.fusion-page-title-bar-center {
	.fusion-page-title-captions {
		text-align: center;
		width: 100%;
	}
	
	.fusion-page-title-secondary  {
		display: block;
		width: 100%;		
		text-align: center;
	}

	.searchform {
		margin-top: 10px;
	}
}
.fusion-page-title-bar-right {
	.fusion-page-title-row {
		direction: rtl;
	}
	
	.fusion-page-title-captions,
	.fusion-page-title-secondary  {
		direction: ltr;
	}
	
	.fusion-page-title-captions {
		text-align: right;
	}
	
	.fusion-page-title-secondary  {
		text-align: left;
	}
}

.sundrige_wrap {
	// max-width: 1280px;
	// margin: 0 auto;
	width: 100%;
	margin-top: 15px;
	padding: 0 30px;
}

.sunridge_breadcrumbs_wrapper {

	max-width: 1280px;
	margin: 0 auto;

	.fusion-breadcrumbs {
		position: relative;
		> span:first-child {
			a {
				text-indent: -9999px;
				&:after {
					content:'';
					background: url('./assets/images/sprite.png') no-repeat 0 -1px;
					width:20px;
					height:17px;
					position:absolute;
					left: 15px;
				}
			}
		}
		> span {
			position: relative;
			padding: 8px 19px 8px 28px;
			background: #f1fcff;
			color: #17a1c7;
			border: 1px solid #b2e1ed;
			height: 36px;
			&:after {
				z-index: 1;
				content:'';
				background: url('./assets/images/sprite.png') no-repeat -177px -39px;
				width:7px;
				height:35px;
				position:absolute;
				right:-7px;
				top:0;
			}
			&:hover {
				background: #e1f7fd;
				&:after{
					background: url('./assets/images/sprite.png') no-repeat -196px -40px;
				}
			}
		}
		.fusion-breadcrumb-sep {
			display: none;
		}
	}

	@media only screen and (max-width: @screen-xs-max) {
		.fusion-breadcrumbs {
			background: #f1fcff;
			border: 1px solid #b2e1ed;
			> span {
				border: none;	
			}
		}	
	}

}