#shiftnav-toggle-main {
	background: #fbfbfb !important;
	.fusion-mobile-logo {
		padding: 16px;
	}

	&:before {
		color: #fff;
		font-size: 18px;
		margin-top: 20px;
		padding: 5px 8px !important;
		background: #17a1c7;
	}
}

.shiftnav-opener {
	height: 30px;
	position:absolute;
	top: 50%;
	margin-top: -15px !important;
	right:12px;
	margin:0;

	strong {
		font-size:16px;
		margin-right: 10px;
	}

	.fusion-icon-bars {
		vertical-align: middle;
		font-size: 20px;
		padding: 5px;
		background: #17a1c7;
		.border-radius(2px);
		&:before {
			vertical-align: top;
			margin-top: 4px;
			color: #fff;
		}
	}

	@media screen and (min-width: 1000px) {
		display: none;
	}
}

.shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.current-menu-item > .shiftnav-target,
.shiftnav.shiftnav-skin-light ul.shiftnav-menu > li.shiftnav-sub-accordion.current-menu-ancestor > .shiftnav-target,
.shiftnav.shiftnav-skin-light ul.shiftnav-menu > li.shiftnav-sub-shift.current-menu-ancestor > .shiftnav-target,
.shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item ul.sub-menu .current-menu-item .shiftnav-target {
	background: #17a1c7 !important;
}


.shiftnav {
	&.shiftnav-skin-light{
		ul.shiftnav-menu {
			li.menu-item.current-menu-item > .shiftnav-target {

			}
		}
	}
}


@media screen and (max-width: 600px) {
  body.admin-bar #shiftnav-toggle-main,
  body.admin-bar .shiftnav {
    top: 46px !important;
  }
  body.admin-bar .shiftnav {
    padding-bottom: 0;
  }
  html #wpadminbar {
    top: 0 !important;
  }
}