// search button hover color

@import '../variables.less';

#wrapper .search-table .search-button input[type="submit"]:hover {
	background-color: transparent!important;
}

.body-text-color {
	color: @body-text-color;
}

@media only screen and (max-width: 1200px) {
	.fusion-logo {
		margin: @logo-margin-top 0 @logo-margin-bottom 0;
	}
}

.fusion-main-menu {
	> ul > li {
		padding-right: 0;
		a {
			height: @main-nav-font-size * 1px;
			line-height: @main-nav-font-size * 1px;
			padding-left: @main-nav-padding * 1px;
			padding-right: @main-nav-padding * 1px;
			&:hover {
				color: @main-nav-color;
			}

			@media only screen and (max-width: 1200px) {
				padding-left: 8px;
				padding-right: 8px;
			}
			
		}
	}
	.sub-menu {
		ul {
			left: (@main-nav-dropdown-width - 25) * 1px;
			top: -3px;
		}
	}
	.fusion-main-menu-search .fusion-main-menu-icon,
	.fusion-main-menu-search .fusion-main-menu-icon:after,
	.fusion-main-menu-search-open .fusion-main-menu-icon,
	.fusion-main-menu-search-open .fusion-main-menu-icon:after,
	.fusion-main-menu-icon-active:after {
		color: @main-nav-hover-color;
	}

	.fusion-main-menu-search-open .fusion-custom-menu-item-contents {
		border: 1px solid #c2c2c2;
	}

	.sub-menu {
		border-top: 0;

		& when (@megamenu-shadow = 1) {
			-moz-box-shadow: 0 7px 3px rgba(0, 0, 0, 0.1);
			-webkit-box-shadow: 0 7px 3px rgba(0, 0, 0, 0.1);
  			box-shadow: 0 7px 3px rgba(0, 0, 0, 0.1);
		}
	}
}

.fusion-secondary-menu {
	> ul > li > a:hover {
		background-color: darken(@secondary-header-bg-color, 5%);
	}
}


.post-content h1,.title h1,.woocommerce-success-message .msg, .woocommerce-message, .fusion-post-content h1{
	> a {color: @h1-color;}
}

#main .post h2,.post-content h2,.fusion-title h2,.title h2,.woocommerce-tabs h2,.search-page-search-form h2, .cart-empty, .woocommerce h2, .woocommerce .checkout h3, .fusion-post-content h2{
	> a {color: @h2-color;}
}

.post-content h3,.sidebar .widget h3,.project-content h3,.fusion-title h3,.title h3,.person-author-wrapper span,.product-title, .fusion-post-content h3{
	> a { color: @h3-color;}
}

.sidebar
.widget {
	&.sunridge-recent-post,
	&.sunridge-category {
		li a {
			color: @primary-color;
			&:hover {
				text-decoration: underline;
			}
		}
		.post-date {
			font-size: 10px;
		}
	}
}

.post-content h4,.project-content .project-info h4,.share-box h4,.fusion-title h4,.title h4,#wrapper .fusion-tabs-widget .tab-holder .tabs li a, .fusion-accordian .panel-title a, .fusion-carousel-title,
.fusion-tabs .nav-tabs > li .fusion-tab-heading, .fusion-post-content h4 {
	> a {color: @h4-color;}
}

.carousel .slideset .slide .carousel-icon-color {
	color: @button-gradient-top-color;
	&:hover {
		color: @button-gradient-top-hover-color;
	}
}

.carousel .slideset .slide .carousel-button {
	background: @button-gradient-top-color;
	color: @button-accent-color;
	
	background-image: -webkit-gradient( linear, left bottom, left top, from( @button-gradient-bottom-color ), to( @button-gradient-top-color ) );
	background-image: -webkit-linear-gradient( bottom,@button-gradient-bottom-color, @button-gradient-top-color );
	background-image:	-moz-linear-gradient( bottom, @button-gradient-bottom-color, @button-gradient-top-color );
	background-image:	  -o-linear-gradient( bottom, @button-gradient-bottom-color, @button-gradient-top-color );
	background-image: linear-gradient( to top, @button-gradient-bottom-color, @button-gradient-top-color );	

	filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='@{button-gradient-top-color}', endColorstr='@{button-gradient-bottom-color}')";
	
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;	
	-o-transition: all .2s;
	transition: all .2s;
	&:hover {
		background: @button-gradient-top-hover-color;
		color: @button-accent-hover-color;
			
		background-image: -webkit-gradient( linear, left bottom, left top, from( @button-gradient-bottom-hover-color ), to( @button-gradient-top-hover-color ) );
		background-image: -webkit-linear-gradient( bottom, @button-gradient-bottom-hover-color, @button-gradient-top-hover-color );
		background-image:	-moz-linear-gradient( bottom, @button-gradient-bottom-hover-color, @button-gradient-top-hover-color );
		background-image:	  -o-linear-gradient( bottom, @button-gradient-bottom-hover-color, @button-gradient-top-hover-color );
		background-image: linear-gradient( to top, @button-gradient-bottom-hover-color, @button-gradient-top-hover-color );

		filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='@{button-gradient-top-hover-color}', endColorstr='@{button-gradient-bottom-hover-color}')";
	}

}

.post-content h5,.fusion-title h5,.title h5, .fusion-post-content h5{
	> a {color: @h5-color}
}

.post-content h6,.fusion-title h6,.title h6, .fusion-post-content h6{
	> a {color: @h6-color;}
}

.fusion-footer-widget-area, .fusion-footer-widget-area ul {
	font-size: @footer-widget-font-size *1px;
}

.fusion-footer-widget-area h3{
	font-size: @footer-widget-title-font-size * 1px;
	line-height: (@footer-widget-title-font-size + 4) * 1px;
}

.fusion-accordian.sunridge-panel .panel-title .active .fa-fusion-box,
.fusion-accordian.sunridge-panel .panel-title a:hover .fa-fusion-box,
.fusion-accordian.sunridge-panel .panel-title a .fa-fusion-box {
	background-color: transparent !important;
	border-color: transparent !important;
}

.sunridge-panel  {

	.fusion-accordian .panel-title .active .fa-fusion-box,
	.fusion-accordian .panel-title a:hover .fa-fusion-box,
	.fusion-accordian .panel-title a .fa-fusion-box {
		background-color: transparent !important;
		border-color: transparent !important;
	}

}

.pagination .pagination-prev,
.woocommerce-pagination .prev,
.pagination .pagination-next,
.woocommerce-pagination .next
{
	border-color: @sep-color;

}

.fusion-before-footer .fusion-row,
.sunridge-wrap .sunridge_breadcrumbs_wrapper { 
	max-width: @site-width;
}

.fusion-before-footer {
	background-color: @secondary-header-bg-color;
	color: @secondary-header-font-color;
	h3 {
		color: @secondary-header-font-color;
	}

	.fusion-footer-widget-area ul li a:hover, 
	ul li a:hover {
		color: @primary-color;
	}

	.social-list {
		a {
			color: @secondary-header-font-color;
		}
	}

	.form-news {
		.box-form {
			border-color: darken(@secondary-header-bg-color, 5%);
		}
		input[type=submit] {
			background: @button-gradient-top-color;
		}
	}
}

.share-box,
.fusion-sharing-box {
	h4 {
		color: @sharing-social-links-icon-color;
	}
}


@media screen and (max-width: 800px) {
	.fusion-google-map {
		margin-bottom: 0!important;
	}
}
