/* =================================================================================================
Table of Contents
----------------------------------------------------------------------------------------------------
	01 IcoMoon Font Face Definition
	02 IcoMoon Icon Styles
================================================================================================= */

<% if (fontfaceStyles) { %>
/* IcoMoon Font Face Definition
================================================================================================= */
<% if (fontSrc1 && embed.length) { %>
@font-face {
    font-family:"<%= fontBaseName %>";
    src:<%= fontSrc1 %>;
    font-weight:normal;
    font-style:normal;
}
<% } %>@font-face {
    font-family:"<%= fontBaseName %>";<% if (fontSrc1) { %>
    src:<%= fontSrc1 %>;<% }%>
    src:<%= fontSrc2 %>;
    font-weight:normal;
    font-style:normal;
}
<% } %>
<% if (baseStyles) { %>
/* Class overrides
================================================================================================= */
[class^="<%= classPrefix %>"]:before,
[class*=" <%= classPrefix %>"]:before<% if (ie7) {%>,
[class^="<%= classPrefix %>"],
[class*=" <%= classPrefix %>"]<% } %><% if (addLigatures) { %>,
.ligature-icons<% } %> {
    font-family:"<%= fontBaseName %>";
    display:inline-block;
    vertical-align:middle;
    line-height:1;
    font-weight:normal;
    font-style:normal;
    speak:none;
    text-decoration:inherit;
    text-transform:none;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}<% } %>
<% if (iconsStyles && stylesheet === 'less') { %>
/* Mixins
================================================================================================= */
<% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { %>.<%= classPrefix %><%= glyphs[glyphIdx] %><% if(glyphIdx === glyphs.length-1) { %> { <% } else { %>, <% } } %>
    &:before {
        font-family:"<%= fontBaseName %>";
        display:inline-block;
        font-weight:normal;
        font-style:normal;
        text-decoration:inherit;
    }
}<% } %><% if (extraStyles) { %>
a [class^="<%= classPrefix %>"],
a [class*=" <%= classPrefix %>"] {
    display:inline-block;
    text-decoration:inherit;
}
/* Makes the font 33% larger relative to the icon container */
.<%= classPrefix %>large:before {
                       vertical-align:top;
                       font-size:1.333em;
                   }
/* Keeps button heights with and without icons the same */
.btn [class^="<%= classPrefix %>"],
.btn [class*=" <%= classPrefix %>"] {
    line-height:0.9em;
}
li [class^="<%= classPrefix %>"],
li [class*=" <%= classPrefix %>"] {
    display:inline-block;
    width:1.25em;
    text-align:center;
}
/* 1.5 increased font size for <%= classPrefix %>large * 1.25 width */
li .<%= classPrefix %>large[class^="<%= classPrefix %>"],
                      li .<%= classPrefix %>large[class*=" <%= classPrefix %>"] {
                                                width:1.875em;
                                            }
li[class^="<%= classPrefix %>"],
li[class*=" <%= classPrefix %>"] {
    margin-left:0;
    list-style-type:none;
}
li[class^="<%= classPrefix %>"]:before,
li[class*=" <%= classPrefix %>"]:before {
    text-indent:-2em;
    text-align:center;
}
li[class^="<%= classPrefix %>"].<%= classPrefix %>large:before,
                                                  li[class*=" <%= classPrefix %>"].<%= classPrefix %>large:before {
                                                                                                         text-indent:-1.333em;
                                                                                                     }
<% } %>

<% if (iconsStyles) { %>/* Icons
================================================================================================= */<% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { %>
<% if (stylesheet === 'less') { %>.<%= classPrefix %><%= glyphs[glyphIdx] %> {
    &:before {
        content:"<% if (addLigatures) { %><%= glyphs[glyphIdx] %><% } else { %>\<%= codepoints[glyphIdx] %><% } %>";
    }<% if (ie7) {%>
    *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x<%= codepoints[glyphIdx] %>;');
<% } %>
}<% } else { %>
<% if (ie7) {%>.<%= classPrefix %><%= glyphs[glyphIdx] %> {
    *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x<%= codepoints[glyphIdx] %>;');
}<% } %>
.<%= classPrefix %><%= glyphs[glyphIdx] %>:before {
                                              content:"<% if (addLigatures) { %><%= glyphs[glyphIdx] %><% } else { %>\<%= codepoints[glyphIdx] %><% } %>";
                                          }<% } %>
<% } } %>




/* Backwards class compatability
================================================================================================= */
/*.fusion-icon-TFicon {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-bars {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-angle-left {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-search {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-vk {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-check-square-o {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-check-circle-o {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-shopping-cart:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-angle-right:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-angle-up:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-spinner:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-star:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-gear:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-star-o:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-caret-left:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-caret-right:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-grid:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-pen:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-film:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-arrow-left:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-plus:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-minus:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-arrow-down:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-uniE620:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-paypal:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-tumblr:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-googleplus:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-arrow-down2:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-instagram:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-forrst:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-facebook:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-flickr:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-feed:before,*/
/*.fusion-icon-rss:before{*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-twitter:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-vimeo:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-dribbble:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-skype:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-youtube:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-blogger:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-link:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-image:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-images:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-reddit:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-soundcloud:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-quotes-left:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-bubbles:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-headphones:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-deviantart:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-digg:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-mail:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-dropbox:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-linkedin:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-myspace:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-pinterest:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-yahoo:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-list:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-user2:before {*/
    /*.fusion-icon-;*/
/*}*/

/*.fusion-icon-user:before {*/
    /*.fusion-icon-;*/
/*}*/

.fusion-icon-vk {
    &:extend(.fusion-icon-vkontakte all);
}

.fusion-icon-mail {
    &:extend(.fusion-icon-envelope all);
}
