.carousel {

	padding-bottom: 50px;

	.slideset {
		float: left;
		.slide {
			float: left;
			padding: 0 30px 2px;
			
			article {
				padding: 0 0 42px;
				> h2 {
					margin-top: 15px;
					margin-bottom: 15px;
				}
			}
			.carousel-icon-color {
				color: @secondary-color;
			}

			.carousel-title {
				color: @primary-color;
			}

			.carousel-button {
				position: absolute;
				left: 0;
				right: 0;
				margin: 0 auto;
				bottom: 0;
				border-radius: 2px;
				display: block;
				padding: 9px 12px 10px;
				width: 144px;
				text-align: center;
				color: #fff;
				font-weight: 700;
				font-size: 16px;
				line-height: 19px;
				background: @secondary-color;
				border: 1px solid @secondary-color;;
			}
		}
		br {
			display: none;
		}
	}

	.pagination {
		display: block;
		position: absolute;
		float: none;
		margin: 0;
		padding: 0;
		list-style: none;
		left: 0;
		right: 0;
		bottom: -30px;
		li {
			display: inline-block;
			vertical-align: top;
			margin: 0 0 0 5px;
			text-align: center;

			&.active {
				a {
					border: 1px solid @secondary-color;
					background: @secondary-color;
				}
			}
		}
		a {
			display: block;
			width: 13px;
			height: 13px;
			text-indent: -9999px;
			overflow: hidden;
			cursor: pointer;
			background: #ececec;
			border: 1px solid #a6d263;
			border-radius: 50%;
		}
	}

	.btn-next, .btn-prev {
		position: absolute;
		cursor: pointer;
		bottom: -30px;
		z-index: 2;
	}

	.btn-next {
		right: 0;
	}

	.btn-prev {
		left: 0;
	}

	@media (min-width: @screen-md-min) {
	
		.slideset {
			margin: 0 !important;
			width: 100% !important;
			
			.slide {
				width: percentage((1/3)) !important;
				position: relative !important;
				left: 0 !important;
				&.item-2 {
					border-left: 1px solid #e1e1e1;
					border-right: 1px solid #e1e1e1;
				}
			}
		}

		.pagination,
		.btn-next,
		.btn-prev {
			display: none;
		}	

	}

}