.listgrid {
	background: #fff;
	border: 1px solid #c6c6c6;
	border-radius: 5px;
	overflow: hidden;
	ul {
		list-style: none;
		margin: -1px 0 0 -1px;
		padding: 0;
		font-size: 13px;
		line-height: 20px;
		font-weight: 300;
		color: #878787;
		overflow: hidden;
		li {
			width:25%;
			box-sizing:border-box;
			-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			margin:0;
			float:left;
			min-height:141px;
			padding:0 10px;
			text-align: center;
			border: solid #dfdfdf;
			border-width: 1px 0 0 1px;
			a {
				display: block;
				padding: 25px 0 7px;
				position: relative;
				width: 100%;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
			}
		}
		br {
			display: none;	
		}
	}

	.listgrid-icon-color {
		color: @secondary-color;
	}

	.listgrid-title {
		color: #7d7d7d;
		position: absolute;
		display: block;
		width: 100%;
		&.no-icon {
			position: relative;
			color: @secondary-color;
			margin: 0 auto;
		}
	}

}