.slideshow {
	position: relative;
	div.slide {
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		width:100%;
		&.active {
			z-index: 2;
		}
	}

	.img-block {
		float: none;
		@media (min-width: @screen-sm-min) {
			float:right;
		}
	}

	.holder-c{
		width: 100%;
		position: relative;
		margin:0 auto;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		padding:0;
		&:after{
			display:block;
			clear:both;
			content:"";
		}
		@media (min-width: @screen-sm-min) {
			max-width:1280px;
		}
	}

	.text{
		position:static;
		text-align:center;
		padding:8px 15px 12px;
		background:#f7f7f7;
		width: auto;
		color:#8e8e8e;
		font-size:13px;
		line-height:17px;
		padding:8px 15px 40px;
		border-style:none;
		margin: 0 0 -2px;
		@media (min-width: @screen-sm-min) {
			position:absolute;
			text-align:left;
			top:0;
			left:0;
			font-weight:300;
			font-size:15px;
			line-height:20px;
			padding:62px 0 0 64px;
			background:transparent;
			p {
				margin:0 0 37px;
			}
		}
		@media (min-width: @screen-lg-min) {
			width:45%;
		}
		h1 {
			font-size:26px;
			line-height:28px;
			font-weight:300;
			margin:0 0 5px;
			@media (min-width: @screen-sm-min) {
				margin:0 0 16px;
				font-weight:300;
				font-size:38px;
				line-height:51px;
			}
		}
		.subtitle{
			font-size:16px;
			line-height:18px;
			color:@secondary-color;
			margin:0 0 4px;
			font-weight:300;
			@media (min-width: @screen-sm-min) {
				margin:0 0 21px;
				color:#7a7b7b;
				font-size:24px;
				line-height:27px;
				display:block;
			}
		}
	}

	.btn-more{
		font-size:16px;
		font-weight:700;
		color:#fff;
		line-height:20px;
		text-align:center;
		padding:9px 41px 11px;
		display:inline-block;
		vertical-align:top;
		width:auto;
		border-radius:2px;
		display:block;
		margin: 0 auto;
		width:180px;
		@media (min-width: @screen-sm-min) {
			padding:12px 12px 15px;
			margin:0 0 0 -4px;
			font-size:20px;
			line-height:23px;
		}
	}

}