@tabs-background-color: #17a1c7;
@tabs-background-color-hover: #2bbae1;
@tabs-border-color: #0b8cb0;
@tabs-border: 1px solid @tabs-border-color;

// #wrapper .fusion-tabs.sunridge-tabs .nav-tabs li a {
// 	border: @tabs-border !important;
// }

.fusion-tabs.sunridge-tabs {
	margin-bottom: 50px;
	
	.nav-tabs {
		display: block;
		list-style: none outside none;
		margin: 0;
		padding: 0;
		background-color: #fff;

		.border-left-radius(5px);
		.border-right-radius(5px);
		
		&:before, 
		&:after {
			content: " ";
			display: table;
		}
		
		&:after {
			clear: both;
		}
	
		&.nav-justified {
			width: 100%;		
			border-bottom: 0 none;
		}

		li {
			display: block;
			position: relative;
			float: none;
			text-align:center;
			border: @tabs-border;
			border-color: #8ac2cc;
			&:first-child, &:first-child > .tab-link {
				.border-left-radius(4px);
			}
			&:last-child, &:last-child > .tab-link {
				.border-right-radius(4px);
				// border-right: none;
			}
			
			.fusion-tab-heading {
				color: #fff;
				margin: 0;
				font-size: 18px;
			}

			
			.tab-link {
				display: block;
				position: relative;
				margin: 0;
				padding: 8px 0;
				outline: 0;
				line-height: normal;
				border: none;
				border: none;
				background-color: @tabs-background-color;
				color: #fff;
				cursor: pointer;
				-webkit-transition: all .2s;
				-moz-transition: all .2s;
				-ms-transition: all .2s;	
				-o-transition: all .2s;
				transition: all .2s;				
				&:hover {
					border-top-color: @tabs-background-color-hover;
					background-color: @tabs-background-color-hover;
				}
				&:focus {
					border-top-color: #fff;
					background-color: #fff;
					&:after {
						position:absolute;
						background:url('assets/images/sprite.png') no-repeat -277px -10px; 
						width:12px; 
						height:7px;
						bottom:-7px;
						left:50%;
						margin:0 0 0 -6px;
						content:"";
					}
					&:hover {
						border-top-color: @tabs-background-color-hover;
						background-color: @tabs-background-color-hover;
						&:after {
							background: none;
						}
					}
				}
				
				.fa {
					float: none;
					color: inherit;
				}
			}
		}
	
		> .active {
			.fusion-tab-heading {
				color: @tabs-background-color;
			}
			&:hover {
				.fusion-tab-heading {
					color: #fff;
				}
			}
			> .tab-link {
				border: none;
				border-top: none;
				background-color: #fff;
				cursor: pointer;
				&:after {
					position:absolute;
					background:url('assets/images/sprite.png') no-repeat -277px -10px; 
					width:12px; 
					height:7px;
					bottom:-7px;
					left:50%;
					margin:0 0 0 -6px;
					content:"";
				}
				&:hover {
					background-color: @tabs-background-color-hover;		
					border-top: 3px solid @tabs-background-color-hover;
					&:after {
						background: none;
					}
				}
				&:focus {
					background-color: #fff;		
					border-top: 3px solid #fff;
					&:after {
						position:absolute;
						background:url('assets/images/sprite.png') no-repeat -277px -10px; 
						width:12px; 
						height:7px;
						bottom:-7px;
						left:50%;
						margin:0 0 0 -6px;
						content:"";
					}
					&:hover {
						border-top-color: @tabs-background-color-hover;
						background-color: @tabs-background-color-hover;
						&:after {
							background: none;
						}
					}
				}
			}
		}
	}
	
	.tab-content {
		> .active {
			display: block;
		}
	}
	
	.tab-pane {
		display: none;
		padding: 15px;
		max-width: 100%;
		border: none;
		border-top: none;
	}
	
	&.nav-not-justified {
		.nav-tabs {
			.tab-link {
				padding: 8px 15px;
			}
		}
	}
	
	&.clean {			
		.nav-tabs {
			background: none;
			border: none;

			li {
				margin-bottom: 10px;
				
				.tab-link {			
					padding: 22px;
					border: none;
					
					&:hover,
					&:focus {
						border: none;
					}
				}				
			}
		}

		.tab-content {
			margin-top: 20px;

			.tab-pane {
				padding: 0;		
				background: transparent;
				border: none;
			}
		}
	}	
}

@media (min-width: 768px) {

	.fusion-tabs.sunridge-tabs {			
		.nav-tabs {
			display: inline-block;
		
			&.nav-justified {

				> li {
					display: table-cell;
					width: 1%;
				}		
			}
			
			li {
				.tab-link {
					margin-right: 1px;
				}
				
				&:last-child {
					.tab-link {
						margin-right: 0;
					}
				}
			}
		}
		
		&.horizontal-tabs {
			.nav-tabs {
				margin: 0 0 -8px 0;
			}
			
			.nav {
				// border-bottom: @tabs-border !important;
			}
			
			&.clean {
				.nav {
					border: none;
					text-align: center;
				}
				
				.nav-tabs {
					border: none;
					
					li {
						margin-bottom: 0;
						
						.tab-link {
							margin-right: 0;
						}
					}
				}
				
				.tab-content {
					margin-top: 15px;
				}				
			}
		}
		
		&.nav-not-justified {
			border: none;

			.nav-tabs {
				margin: 0 0 -1px 0;
		
				li {
					display: inline-block;
				}
			}
			
			&.clean {
				.nav-tabs {
					li {
						.tab-link {
							padding: 10px 55px;
						}
					}
				}
			}
		}

		&.vertical-tabs {
			border: none;
			clear: both;
			.clearfix();

			.nav-tabs {
				position: relative;
				left: 1px;
				float: left;
				width: 15.5%;
				border: @tabs-border !important;
				border-right: none;

				> li {
					
					.tab-link {
						margin-right: 0;
						margin-bottom: 1px;
						padding: 8px 10px;
						border-top: none;
						text-align: left;
					}
					
					&:last-child {
						.tab-link {
							margin-bottom: 0;
						}
					}					
					
					&.active {
						> .tab-link {
							border-bottom: none;
							border-left: 3px solid @primary-color;
							border-top: none;
							cursor: pointer;
						}

					}								
				}
			}

			.tab-content {
				float: left;
				width: 84.5%;
			}

			.tab-pane {
				float: left;
				padding: 30px;
				border: @tabs-border !important;
			}
			
			&.clean {
				.nav-tabs {
					width: 25%;
					background-color: transparent;
					border: none;
					
					li {
						.tab-link {
							margin: 0;
							padding: 10px 15px;
							border: 1px solid;							
						}
					}
				}
				
				.tab-content {
					margin: 0;
					padding-left: 40px;
					width: 75%;
				}				
			}
		}
	}
}