@accordian-border-color: #E5E4E3;
@accordian-border: 1px solid @accordian-border-color;

.fusion-accordian.sunridge-panel {
	width: 100%;

	.fusion-panel {
		box-shadow: none;
		overflow: hidden;
		// border: none;
		border: @accordian-border;
		.border-radius( 5px );
		margin-bottom: 20px;
	}
	
	.panel-heading {
		padding: 0;
		background: none;
	}
	
	.panel-title {
		position: relative;
		margin: 0;
		line-height: 22px;
		font-size: 16px;
		font-weight: normal;
		color: inherit;

		a {
			display: block;
			padding: 26px 22px;
			text-decoration: none;
			
			&:hover {
				color: @primary-color;

				.fa-fusion-box {
					background-color: @primary-color;
				}
			}
			
			.fa.pull-left {
				margin-left: 1px;
			}
			
			.fa-fusion-box {
				display: inline-block;
				float: right;
				margin-right: 0;
				width: 22px;
				height: 22px;
   				background-color: transparent;
   				font-size: 22px;
   				color: @secondary-color;
   				text-align: center;
   				line-height: 22px;
   				font-family: 'FontAwesome';
   				
   				-webkit-font-smoothing: subpixel-antialiased;
   					
   				&:before {
   					font-family: 'FontAwesome';
   					content: "\f144";
   					font-style: normal;
   					line-height: 22px;
   					font-size: 22px;
   				}
			}
		}
		
		.active, a:hover {
			background: #effcff;
			.fa-fusion-box {
				background-color: transparent;
			  	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
				-webkit-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				transform: rotate(90deg);
				&:before {
					content: "\f144"; //&ndash; specail HTML char
				}
			}
		}
		
		.fusion-toggle-heading {
			margin-left: 0;
		}
	}
	
	.panel-body {
		padding: 26px 17px 45px 36px;
		border: none;
		line-height: inherit;
	}

	.panel-title {
		a {
			color: @primary-color;
		}
		a:hover, .active {
			color: @primary-color;
			.fa-fusion-box:before {
				color: @primary-color;
			}
		}
	}

	.panel-title,
	.panel-body {
		background: #fff;
	}
}


.sunridge-panel {

	.fusion-accordian {
		width: 100%;

		.fusion-panel {
			box-shadow: none;
			overflow: hidden;
			// border: none;
			border: @accordian-border;
			.border-radius( 5px );
			margin-bottom: 20px;
		}
		
		.panel-heading {
			padding: 0;
			background: none;
		}
		
		.panel-title {
			position: relative;
			margin: 0;
			line-height: 22px;
			font-size: 16px;
			font-weight: normal;
			color: inherit;

			a {
				display: block;
				padding: 26px 22px;
				text-decoration: none;
				
				&:hover {
					color: @primary-color;

					.fa-fusion-box {
						background-color: @primary-color;
					}
				}
				
				.fa.pull-left {
					margin-left: 1px;
				}
				
				.fa-fusion-box {
					display: inline-block;
					float: right;
					margin-right: 0;
					width: 22px;
					height: 22px;
	   				background-color: transparent;
	   				font-size: 22px;
	   				color: @secondary-color;
	   				text-align: center;
	   				line-height: 22px;
	   				font-family: 'FontAwesome';
	   				
	   				-webkit-font-smoothing: subpixel-antialiased;
	   					
	   				&:before {
	   					font-family: 'FontAwesome';
	   					content: "\f144";
	   					font-style: normal;
	   					line-height: 22px;
	   					font-size: 22px;
	   				}
				}
			}
			
			.active, a:hover {
				background: #effcff;
				.fa-fusion-box {
					background-color: transparent;
				  	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
					-webkit-transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					transform: rotate(90deg);
					&:before {
						content: "\f144"; //&ndash; specail HTML char
					}
				}
			}
			
			.fusion-toggle-heading {
				margin-left: 0;
			}
		}
		
		.panel-body {
			padding: 26px 17px 45px 36px;
			border: none;
			line-height: normal;
		}

		.panel-title {
			a {
				color: @primary-color;
			}
			a:hover, .active {
				color: @primary-color;
				.fa-fusion-box:before {
					color: @primary-color;
				}
			}
		}

		.panel-title,
		.panel-body {
			background: #fff;
		}
	}

	.fusion-accordian {
		.fusion-panel {
			margin-bottom: 5px;
		}
	}

}

// .fusion-single-accordian {
// 	margin-bottom: 0px;
// }
